*{
    font-family: verdana;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}


body
{
    background-color: hsla(72, 0%, 2%, 0.92);
    color: white;
}

#page_select{
    display: flex;    
    background-color: hsla(196, 75%, 65%, 0.75);
    align-items: center;
    justify-content: space-around;
}

#links{
    display: flex;
    flex-direction: row;
}

#title
{
    padding-left: 2em;
    padding-right: 2em;
}

#main_title
{
    font-size: 45px;
    text-decoration: none;
    color: white;
    padding: 0px 15px 0px 15px
}

#home{
    float: left;
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin: 0px 10px 0px 10px;
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}





#title:hover > header> #main_title > #home{
    width: 55px;
    height: 55px;
    object-fit: contain;
}

.link{
    text-decoration: none;
    padding: 5em 1em 5em 1em;
   
}

.link:hover{
    background-color: white;
}

.link:hover > .Redirect_Link{
    color: black
}

.Redirect_Link{
    text-decoration: none;
    font-size: 30px;
    color: white;
}

#pages{
    margin: auto;
    width: 50%;
    border: 3px none none;
    padding: 10px;
}

.page_Text
{
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px 10px 10px 10px;
    border: 2px white solid;
    border-radius: 10px;
    overflow: hidden;
}

.page_Text:hover{
    border: 4px white solid;
}

.page_Text > .Redirect_Link{
    display: block;
    height: 100%;
    width: 100%;
    font-size: 25px;
}

#imgHTML{
    float: right;
   
    margin-left:10px;
}

#imgCSS{
    float: left;

    margin-right:20px;
}

.image{
    width:160px;
    height:135px;
    object-fit: contain;
}

.page_Text:hover > p> .image{
    width:170px;
    height:140px;
    object-fit: contain;
}

.page_Text > p {
    text-align: justify;
}

#autor{
    display: flex;
    justify-content: center;
}
